{% extends "base.html"%}

{% block titulo %}
    Autores
{% endblock %}

{% block conteudo %}
<header>
    <h1>NOSSOS PRINCIPAIS AUTORES</h1>
</header>
<section>
    <h2>AUTOR 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dignissimos obcaecati, sapiente rerum accusamus veritatis asperiores aliquid quam, quae aliquam, eligendi ipsum enim id similique distinctio fuga! Consequuntur, quasi amet!</p>
    <h2>AUTOR 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dignissimos obcaecati, sapiente rerum accusamus veritatis asperiores aliquid quam, quae aliquam, eligendi ipsum enim id similique distinctio fuga! Consequuntur, quasi amet!</p>
    <h2>AUTOR 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dignissimos obcaecati, sapiente rerum accusamus veritatis asperiores aliquid quam, quae aliquam, eligendi ipsum enim id similique distinctio fuga! Consequuntur, quasi amet!</p>
    <h2>AUTOR 4</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dignissimos obcaecati, sapiente rerum accusamus veritatis asperiores aliquid quam, quae aliquam, eligendi ipsum enim id similique distinctio fuga! Consequuntur, quasi amet!</p>
</section>
{% endblock %}