{% extends "index.html"%}

{% block titulo %}
    Notícias
{% endblock %}

{% block conteudo %}
<header>
    <h1>NOTICIAS NO BRASIL E NO MUNDO</h1>
</header>
<section>
    <h2>NOTÍCIA 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dignissimos obcaecati, sapiente rerum accusamus veritatis asperiores aliquid quam, quae aliquam, eligendi ipsum enim id similique distinctio fuga! Consequuntur, quasi amet!</p>

    <h2>NOTÍCIA 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dignissimos obcaecati, sapiente rerum accusamus veritatis asperiores aliquid quam, quae aliquam, eligendi ipsum enim id similique distinctio fuga! Consequuntur, quasi amet!</p>

    <h2>NOTÍCIA 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dignissimos obcaecati, sapiente rerum accusamus veritatis asperiores aliquid quam, quae aliquam, eligendi ipsum enim id similique distinctio fuga! Consequuntur, quasi amet!</p>

    <h2>NOTÍCIA 4</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dignissimos obcaecati, sapiente rerum accusamus veritatis asperiores aliquid quam, quae aliquam, eligendi ipsum enim id similique distinctio fuga! Consequuntur, quasi amet!</p>
</section>
{% endblock %}