body{
    background-color: lightcyan;
    margin: 0;
}

nav{
    background-color: black;
    height: 6vh;
    width: 100vw;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    color: white;
    margin-right: 3vw;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}